.header__logo_color_black {
  width: 142px;
  height: 33px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../../../images/header-logo-black.svg);
  padding-bottom: 41px;
}

@media screen and (max-width: 568px) {
  .header__logo_color_black {
    width: 103.74px;
    height: 24.4px;
    margin-left: 27px;
    padding-bottom: 31.6px;
  }
}
