.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  max-width: 450px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: name;
}

@media screen and (max-width: 830px) {
  .profile__name {
    max-width: 295px;
  }
}

@media screen and (max-width: 400px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    margin-left: 25px;
    max-width: 190px;
  }
}
