.profile__avatar {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-right: 30px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .profile__avatar {
    width: 90px;
    height: 90px;
  }
}


@media screen and (max-width: 600px) {
  .profile__avatar {
    margin: 0 auto 26px;
    width: 120px;
    height: 120px;
  }
}
