.profile__job {
  font-size: 18px;
  line-height: 22px;
  max-width: 450px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  grid-area: job;
}

@media screen and (max-width: 810px) {
  .profile__job {
    max-width: 300px;
    text-align: center;
    align-self: center;
  }
}

@media screen and (max-width: 400px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
  }
}
